<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
    <title>用户首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content=""/>

    <!-- flexslider-css-file -->
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property=""/>
    <!-- //flexslider-css-file -->

    <link rel="stylesheet" href="css/easy-responsive-tabs.css">

    <link href="css/font-awesome.css" rel="stylesheet">        <!-- font-awesome icons-css-file -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">    <!-- bootstrap-css-file -->
    <link href="css/styleuser.css" type="text/css" rel="stylesheet" media="all">    <!-- style-css-file -->
    <link rel="stylesheet" href="css/elementui-index.css">

    <!-- gallery -->
    <link rel="stylesheet" href="css/lightbox.css">
    <!-- //gallery -->

    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Cinzel:400,700,900" rel="stylesheet">
    <!-- //fonts -->

    <!-- Default-JavaScript-File -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- //Default-JavaScript-File -->

    <script src="js/bootstrap.js"></script>    <!-- //bootstrap-JavaScript-File -->

</head>
<!-- Head -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div id="app">
    <!-- banner -->
    <div id="home" class="w3ls-banner">
        <!-- header -->
        <div class="header-w3layouts">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <span class="sr-only">慢性病管理系统</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="index.html">慢性病管理系统</a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right cl-effect-15">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
                            <li><a class="page-scroll scroll" href="index.html">首页</a></li>
                            <li><a class="page-scroll scroll" href="1doctors-list.html">医生列表</a></li>
                            <li><a class="page-scroll scroll" href="1abouts-list.html">知识库</a></li>
                            <li><a class="page-scroll scroll" href="1heath.html">健康评估</a></li>
                            <li><a class="page-scroll scroll" href="1personcenter.html">个人中心</a></li>
                            <li><a class="page-scroll scroll" v-on:click="login">后台管理</a></li>
                            <li><a class="page-scroll scroll" href="login.html">登录</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        </div>
        <div class="w3l_banner_info" style="padding-top: 20px;">
        </div>

        <div id="blog" class="banner-bottom blog" style="background: url(static/images/22.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;">
            <div class="appointment" style="padding-top: 0px">
                <div class="container">
                    <div class="w3ls-heading">
                        <h3 style="color: antiquewhite">体检预约</h3>
                    </div>
                    <div class="appointment-grid">
                        <div class="col-md-4 appointmnet-left">
                            <div class="inner">
                                <div class="working-grid">
                                    <h4>工作时间</h4>
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i><span>周一至周五</span> <span
                                            class="span1">9:00 am to 6:30 pm</span></p>
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i><span>周天</span> <span
                                            class="span1">9:00 am to 10:00 pm</span></p>
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i><span>周六</span> <span
                                            class="span1">10:00 am to 1:00 pm</span></p>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="working-grid1">
                                    <h4>For help</h4>
                                    <h5><i class="fa fa-pencil" aria-hidden="true"></i>For appointment fill the form
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet
                                        ultrices odio.</p>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4 appointmnet-middle">
                            <div class="inner">
                                <h4>预约体检</h4>
                                <form  name="row" method="post" class="register">
                                    <input type="text" name="name" id="name" placeholder="名字" required=""
                                           v-model="appointment.name">
                                    <div class="block">
                                        <el-date-picker
                                                v-model="appointment.time"
                                                style="width:310px"
                                                format="yyyy-MM-dd HH:mm:ss"
                                                type="datetime"
                                                placeholder="选择日期">
                                        </el-date-picker>
                                    </div>

                                    <textarea onfocus="this.value = '';"
                                              onblur="if (this.value == '') {this.value = 'Enter Message...';}"
                                              v-model="appointment.content">Enter Message...</textarea>
                                    <el-button type="submit"
                                               style="outline: none;transition: .5s all;
     margin-left: 100px; color: #fff;
     margin-top: 30px;
     border: 1px solid rgba(233, 30, 99, 0.66);
    font-size: 15px;
    text-transform: capitalize;
    background: rgba(233, 30, 99, 0.66);
    padding: 0.5em 0.8em;
    text-decoration: none;
    height: 50px;
    width: 90px;
    letter-spacing: 1px;"
                                               @click="insert()">
                                        提交
                                    </el-button>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="js/easy-responsive-tabs.js"></script>
        <script>
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion
                    width: 'auto', //auto or any width like 600px
                    fit: true,   // 100% fit in a container
                    closed: 'accordion', // Start closed if in accordion view
                    activate: function (event) { // Callback function if tab is switched
                        var $tab = $(this);
                        var $info = $('#tabInfo');
                        var $name = $('span', $info);
                        $name.text($tab.text());
                        $info.show();
                    }
                });
                $('#verticalTab').easyResponsiveTabs({
                    type: 'vertical',
                    width: 'auto',
                    fit: true
                });
            });
        </script>
        <script src="js/responsiveslides.min.js"></script>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider3").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: false,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
        </script>
        <link rel="stylesheet" href="css/jquery-ui.css"/>
        <script src="js/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#datepicker").datepicker();
            });
        </script>
        <script src="js/SmoothScroll.min.js"></script>
        <script type="text/javascript" src="js/jquery.flexisel.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo1").flexisel({
                    visibleItems: 3,
                    animationSpeed: 1000,
                    autoPlay: false,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>
<!--        <script type="text/javascript">-->
<!--            jQuery(document).ready(function ($) {-->
<!--                $(".scroll").click(function (event) {-->
<!--                    event.preventDefault();-->
<!--                    $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);-->
<!--                });-->
<!--            });-->
<!--        </script>-->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({easingType: 'easeOutQuart'});

            });
        </script>
        <script src="js/scrolling-nav.js"></script>
    </div>
</div>
</body>
<script src="js/vue.min.js"></script>
<!-- import JavaScript -->
<!-- 引入组件库 -->
<script src="js/elementui-index.js"></script>
<script src="js/axios.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                appointment: {
                    name: "",
                    time: "",
                    content: "",
                    doctorName: "",
                    doctorNum:"",
                    userId:""
                },
            }
        },
        methods: {
            login() {
                axios.get("/userLoginIndex").then(function (response) {
                    let a = response.data;
                    console.log(a)
                    switch (a) {
                        case 1:
                            location.href = "/index.html";
                            break;
                        case 2:
                            location.href = "/index2.html";
                            break;
                        case 3:
                            location.href = "/index3.html";
                            break;
                        case 0:
                            alert("请登录");
                            location.href = "/login.html"
                            break;
                        default:
                            break;
                    }
                })
            },
            insert(){
                axios.post("/appointment/insert",v.appointment).then(function (response) {
                        alert(response.data)
                })
            }
        },
        created: function () {
            let doctorNum = location.search.split("=")[1]//接收医生列表传来的num
            axios.post("/doctor/selectByNum?num="+doctorNum).then(function (response) {//查询医生姓名
                v.appointment.doctorName = response.data.name;//返回医生姓名
            })

            axios.post("/userLogin").then(function (response) {//判断是否登录
                if (response.data === 0) {//未登录
                    alert("请登录")
                    location.href="login.html"
                }
                v.appointment.userId = response.data;//返回userid的值
                v.appointment.doctorNum = doctorNum;
            })

        }
    })


</script>
</html>