<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加医生信息</title>
    <!-- Base Styling  -->
    <link rel="stylesheet" href="static/css/fonts.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="css/elementui-index.css">
</head>

<body>
<div id="main-wrapper" class="show">


    <!-- start logo components -->
    <div class="nav-header">
        <div class="brand-logo">
            <a href=""> <img class="logo-tabib" src="static/picture/download.png" alt=""></a>
            <a href=""><img class="brand-title" src="static/picture/logo.png" alt=""></a>
        </div>
    </div>
    <!-- End logo components -->


    <!-- start section sidebar -->
    <aside class="left-panel nicescroll-box">
        <nav class="navigation">
            <ul class="list-unstyled main-menu">
                <li class="has-submenu">
                    <a href="#" class="has-arrow mm-collapsed">
                        <i class="  "></i>
                        <span class="nav-label">回复</span>
                    </a>
                    <ul class="list-unstyled mm-collapse">
                        <li><a href="2add-replys.html">添加回复</a></li>
                        <li><a href="2replys-list.html">回复列表</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#" class="has-arrow mm-collapsed">
                        <i class="  "></i>
                        <span class="nav-label">治疗方案</span>
                    </a>
                    <ul class="list-unstyled mm-collapse">
                        <li><a href="2add-plans.html">添加治疗方案</a></li>
                        <li><a href="2plans-list.html">管理治疗方案</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- End section sidebar -->

    <div class="header">
        <header class="top-head container-fluid">
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>

            </div>
            <div class="header-right">
                <div class="   ">
                    <div class="full">
                        <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()">

                        </a>
                    </div>
                </div>
                <div class="  ">
                    <div class="cart-wrapper">
                        <div class="cart-icon">
                            <a class="cart-control" href="#">

                                <div class="pulse-css"></div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="my-account-wrapper">
                    <div class="account-wrapper">
                        <div class="account-control">
                            <a class="login header-profile" href="#" title="Sign in">
                                <div class="header-info" style="width:100px">
                                    <el-input v-model="manager.username" placeholder="请输入内容"></el-input>
                                </div>

                            </a>
                            <div class="account-dropdown-form dropdown-container">
                                <div class="form-content">
                                    <a href="login.html">
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!-- Endheader -->


    <!-- start section content -->
    <div class="content-body">
        <div class="warper container-fluid">
            <div class="new-patients main_container">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4 class="text-primary">添加信息</h4>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">回复列表</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <el-table
                                            :data="replyList"
                                            style="width: 100%">
                                        <el-table-column
                                                type="index"
                                                width="50">
                                        </el-table-column>
                                        <el-table-column
                                                prop="userName"
                                                label="姓名"
                                                width="100">
                                        </el-table-column>
                                        <el-table-column
                                                prop="questionContent"
                                                label="问题"
                                                width="300">
                                        </el-table-column>
                                        <el-table-column
                                                prop="replyContent"
                                                label="回复"
                                                width="300">
                                        </el-table-column>
                                        <el-table-column
                                                prop="replyTime"
                                                label="回复时间"
                                                width="200">
                                        </el-table-column>
                                        <el-table-column
                                                fixed="right"
                                                label="操作">
                                            <template slot-scope="scope">
                                                <el-button
                                                        size="small"
                                                        @click="del(scope.row.id)">
                                                    移除
                                                </el-button>
                                                <el-button
                                                        size="small"
                                                        @click="openDialog(scope.row)">
                                                    修改
                                                </el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>
                                <el-dialog
                                        title="回复"
                                        :visible.sync="dialogVisible"
                                        width="30%"
                                        :before-close="handleClose">
                                    <el-form ref="form" :model="reply" label-width="80px">
                                        <el-form-item label="回复内容">
                                        <textarea v-model="reply.replyContent"
                                                  style="height:200px;width: 100%;border: 1px solid #DCDFE6;color: #606266;"></textarea>
                                        </el-form-item>
                                        <el-form-item label="时间">
                                            <el-date-picker v-model="reply.replyTime" type="datetime"
                                                            value-format="yyyy-MM-dd HH:mm:ss"
                                                            placeholder="选择日期时间"></el-date-picker>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button @click="dialogVisible = false">取 消</el-button>
                                            <el-button type="primary" @click="update()">确 定</el-button>
                                        </el-form-item>
                                    </el-form>
                                </el-dialog>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JQuery v3.5.1 -->
<script src="static/js/jquery.min.js"></script>

<!-- popper js -->
<script src="static/js/popper.min.js"></script>

<!-- Bootstrap -->
<script src="static/js/bootstrap.min.js"></script>

<!-- Moment -->
<script src="static/js/moment.min.js"></script>

<!-- Date Range Picker -->
<script src="static/js/daterangepicker.min.js"></script>

<!-- Datatable -->
<script src="static/js/jquery.dataTables.min.js"></script>
<script src="static/js/init-tdatatable.js"></script>

<!-- Main Custom JQuery -->
<script src="static/js/toggleFullScreen.js"></script>
<script src="static/js/main.js"></script>

</body>
<script src="js/vue.min.js"></script>
<!-- import JavaScript -->
<!-- 引入组件库 -->
<script src="js/elementui-index.js"></script>
<script src="js/axios.min.js"></script>
<script>
    let v = new Vue({
        el: '#main-wrapper',
        data: function () {
            return {
                dialogVisible: false,
                replyList: [],
                account: {
                    username: ""
                },
                doctor: {
                    num: "",
                    accountId: ""
                },
                manager: {
                    username: "",
                },
                reply: {
                    replyContent: "",
                    replyTime: ""

                }
            }
        },
        methods: {
            del(id) {
                if (confirm("确定要删除吗？")) {
                    axios.post("/reply/delete?id=" + id).then(function (response) {
                        alert(response.data)
                        location.reload();
                    })
                }
            },
            update() {
                axios.post("/reply/update", v.reply).then(function (response) {
                    alert(response.data)
                    v.dialogVisible = false;
                })
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },
            openDialog(reply) {
                v.reply = reply;
                v.dialogVisible = true;
            },

        },
        created: function () {
            axios.get("/userLoginIndex2").then(function (response) {
                v.doctor.accountId = response.data.id
                v.manager.username = response.data.username
                axios.post("/doctor/selectByAccountId?accountId=" + v.doctor.accountId).then(function (response1) {
                    //查询出医生工号
                    v.doctor.num = response1.data.num;
                    //通过医生工号查询回复
                    axios.post("/reply/selectByNum?num=" + v.doctor.num).then(function (response2) {
                        v.replyList = response2.data;
                    })
                })
                if (response.data.id == null) {
                    location.href = "/login.html"
                }

            })


        }
    })


</script>
</html>