<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理医生</title>
    <!-- Base Styling  -->
    <link rel="stylesheet" href="static/css/fonts.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="css/elementui-index.css">
</head>

<body>
<div id="app">
    <!--<div id="main-wrapper" class="show">-->
    <!-- start logo components -->
    <div class="nav-header">
        <div class="brand-logo">
            <a href="index.html"> <img class="logo-tabib" src="static/picture/download.png" alt=""></a>
            <a href="index.html"><img class="brand-title" src="static/picture/logo.png" alt=""></a>
        </div>
    </div>
    <!-- End logo components -->


    <!-- start section sidebar -->
    <aside class="left-panel nicescroll-box">
        <nav class="navigation">
            <ul class="list-unstyled main-menu">
                <li class="has-submenu">
                    <a href="#" class="has-arrow mm-collapsed">
                        <i class=" "></i>
                        <span class="nav-label">用户</span>
                    </a>
                    <ul class="list-unstyled mm-collapse">
                        <li><a href="3users-list.html">用户列表</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#" class="has-arrow mm-collapsed">
                        <i class=" "></i>
                        <span class="nav-label">医生</span>
                    </a>
                    <ul class="list-unstyled mm-collapse">
                        <li><a href="3add-doctors.html">添加医生</a></li>
                        <li><a href="3doctors-list.html">医生列表</a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#" class="has-arrow mm-collapsed">
                        <i class="  "></i>
                        <span class="nav-label">知识库</span>
                    </a>
                    <ul class="list-unstyled mm-collapse">
                        <li><a href="3add-abouts.html">添加知识库</a></li>
                        <li><a href="3abouts-list.html">知识库列表</a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#" class="has-arrow mm-collapsed">
                        <i class="  "></i>
                        <span class="nav-label">公告</span>
                    </a>
                    <ul class="list-unstyled mm-collapse">
                        <li><a href="3add-announces.html">添加公告</a></li>
                        <li><a href="3announces-list.html">公告列表</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </aside>
    <!-- End section sidebar -->


    <!-- start section header -->
    <div class="header">
        <header class="top-head container-fluid">
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>

            </div>
            <div class="header-right">
                <div class="   ">
                    <div class="full">
                        <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()">

                        </a>
                    </div>
                </div>
                <div class="  ">
                    <div class="cart-wrapper">
                        <div class="cart-icon">
                            <a class="cart-control" href="#">

                                <div class="pulse-css"></div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="my-account-wrapper">
                    <div class="account-wrapper">
                        <div class="account-control">
                            <a class="login header-profile" href="#" title="Sign in">
                                <div class="header-info"  style="width:100px">
                                    <el-input v-model="manager.username" placeholder="请输入内容"></el-input>
                                </div>

                            </a>
                            <div class="account-dropdown-form dropdown-container">
                                <div class="form-content">
                                    <a href="login.html">
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!-- End section header -->


    <!-- start section content -->
    <div class="content-body">
        <div class="warper container-fluid">
            <div class="all-patients main_container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header fix-card">
                                <div class="row">
                                    <div class="col-8">
                                        <h4 class="card-title">知识库列表</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <!--                                <div class="table-responsive">-->
                                <el-table
                                        :data="aboutList"
                                        style="width: 100%">
                                    <el-table-column
                                            type="index"
                                            width="80">
                                    </el-table-column>
                                    <el-table-column
                                            prop="title"
                                            label="标题"
                                            width="200">
                                    </el-table-column>
                                    <el-table-column
                                            prop="content"
                                            label="内容"
                                            width="300"
                                            style="text-decoration: none;color: #333;max-width: 100px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                                    </el-table-column>
                                    <el-table-column
                                            label="照片">
                                        <template slot-scope="scope">
                                            <img :src="scope.row.photo" alt="" style="width: 300px;height: 100px">
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            fixed="right"
                                            label="操作">
                                        <template slot-scope="scope">
                                            <el-button
                                                    size="small"
                                                    @click="del(scope.row.id)">
                                                移除
                                            </el-button>
                                            <el-button
                                                    size="small"
                                                    @click="openDialog(scope.row)">
                                                修改
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <!--                                </div>-->
                            </div>
                            <el-dialog
                                    title="提示"
                                    :visible.sync="dialogVisible"
                                    width="30%"
                                    :before-close="handleClose">
                                <el-form ref="form" :model="about" label-width="80px">
                                    <el-form-item label="标题">
                                        <el-input v-model="about.title"></el-input>
                                    </el-form-item>
                                    <el-form-item label="内容">
                                        <textarea v-model="about.content"
                                        style="height:200px;width: 100%;border: 1px solid #DCDFE6;color: #606266;"></textarea>
                                    </el-form-item>
                                    <el-form-item label="照片">
                                        <img :src="about.photo" alt="" style="width: 200px;height: 200px">
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button @click="dialogVisible = false">取 消</el-button>
                                        <el-button type="primary" @click="update()">确 定</el-button>
                                    </el-form-item>
                                </el-form>
                            </el-dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End section content -->
        <!--    </div>-->

    </div>
</div>
</body>
<!-- JQuery v3.5.1 -->
<script src="static/js/jquery.min.js"></script>

<!-- popper js -->
<script src="static/js/popper.min.js"></script>

<!-- Bootstrap -->
<script src="static/js/bootstrap.min.js"></script>

<!-- Moment -->
<script src="static/js/moment.min.js"></script>

<!-- Date Range Picker -->
<script src="static/js/daterangepicker.min.js"></script>

<!-- Datatable -->
<script src="static/js/jquery.dataTables.min.js"></script>
<script src="static/js/init-tdatatable.js"></script>

<!-- Main Custom JQuery -->
<script src="static/js/toggleFullScreen.js"></script>
<script src="static/js/main.js"></script>

<script src="js/vue.min.js"></script>
<!-- import JavaScript -->
<!-- 引入组件库 -->
<script src="js/elementui-index.js"></script>
<script src="js/axios.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                dialogVisible: false,
                aboutList: [],
                about:{
                    title:"",
                    content:"",
                    photo:""
                },
                manager:{
                    username:"",
                },
            }

        },
        methods: {
            //点击确定更新按钮 进行数据库更新
            update(){
                axios.post("/about/update",v.about).then(function (response) {
                    alert(response.data)
                    v.dialogVisible=false;
                })
            },
            openDialog(abo){
                v.about=abo;
                v.dialogVisible=true;
            },
            del(id){
                if (confirm("确定要删除吗？")) {
                    axios.post("/about/delete?id=" + id).then(function (response) {
                        alert(response.data)
                    })
                }
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
            }
        },
        //一点开加载所有医生
        created: function () {
            axios.get("/userLoginIndex2").then(function (response) {
                v.user = response.data
                v.manager.username=response.data.username
                if (response.data.id == null) {
                    location.href = "/login.html"
                }
            })
            axios.get("/about/selectAll").then(function (response) {
                v.aboutList = response.data
            })
        },
    })


</script>
</html>